<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Gestão de eventos | Sobre</title>
</head>

<body>
  <header>
    <a href="/">
      <div class="logo">
        <span class="material-icons"> lens_blur </span>
        <p>Event Planner</p>
      </div>
       <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="evento">Planner</a></li>
          <li><a href="sobre">Sobre</a></li>
        </ul>
    </a>    
  </header>

  <main>
    <div class="container">
      <div class="formulario">
        <form action="/evento" method="POST">
          <div class="slice">
            <div class="title">Dados do Responsável</div>

            <div class="formGroup">
              <div class="formBox">
                <input type="text" name="name" autocomplete="off" required>
                <label for="name" class="label-box">
                  <span class="content-box">Nome</span>
                </label>
              </div>
            </div>

            <div class="formGroup">
              <div class="formBox">
                <input type="email" name="email" autocomplete="off" required>
                <label for="email" class="label-box">
                  <span class="content-box">Email</span>
                </label>
              </div>
            </div>

            <div class="formGroup">
              <div class="formBox">
                <input type="text" name="cpf" autocomplete="off" required>
                <label for="cpf" class="label-box">
                  <span class="content-box">CPF</span>
                </label>
              </div>
            </div>

            <div class="formGroup">
              <div class="formBox">
                <input type="number" name="telefone" autocomplete="off" required>
                <label for="telefone" class="label-box">
                  <span class="content-box">Telefone</span>
                </label>
              </div>
            </div>                       
          </div>

          <div class="slice">

            <div class="title">Informações gerais</div>

            <div class="formGroup">              
              <label for="maritalStatus">Caráter do Evento:</label>
              <select name="maritalStatus" id="">
                <option value="">Selecione ...</option>
                <% caraterEvento.map(item=> { %>
                  <option value="<%= item.value %>">
                    <%= item.label %>
                  </option>
                  <% }) %>
              </select>
            </div>

            <div class="formGroup">
              <label for="local">Local:</label>
              <input type="radio" name="local" value="1"> Próprio
              <input type="radio" name="local" value="2"> Alugado
              <input type="radio" name="local" value="3"> Público
            </div>   
            
            <div class="formGroup">
              <div class="formBox">
                <input type="text" name="endereco" autocomplete="off" required>
                <label for="endereco" class="label-box">
                  <span class="content-box">Endereço</span>
                </label>
              </div>
            </div>

          </div>

          <div class="btn">
            
            <button type="submit">Enviar</button>

          </div>
        </form>


      </div>
    </div>
  </main>

  <footer>
    <p>Projeto deselvolvido para o Bootcamp FullStalck MERN Infnet 2021 | Todos os direitos reservados.</p>
  </footer>
</body>

</html>