<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <title>Gestão de eventos | Sobre</title>
</head>

<body>
  <header>
    <a href="/">
      <div class="logo">
        <span class="material-icons"> lens_blur </span>
        <p>Event Planner</p>
      </div>
    </a>

    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="evento">Planner</a></li>
        <li><a href="sobre">Sobre</a></li>
      </ul>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="formulario">
        <form action="/evento" method="POST">

          <!-- Dados Pessoais -->
          <%- include('./form-slice/personal.ejs') %>

          <!-- Dados Evento -->
          <%- include('./form-slice/event.ejs') %>

          <!-- Dados DATA HORA -->
          <%- include('./form-slice/date-time.ejs') %>

          <div class="btn">
            
            <button type="submit">Enviar</button>

          </div>
        </form>


      </div>
    </div>
  </main>

  <footer>
    <p>Projeto desenvolvido por <span>carlos.voliveira</span> para o Bootcamp FullStalck MERN Infnet 2021 | Todos os direitos reservados.</p>
  </footer>
</body>

</html>