<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3936d29e7d.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <title>Gestão de eventos | Sobre</title>
</head>

<header>
  <a href="/">
    <div class="logo">
      <span class="material-icons"> lens_blur </span>
      <p>Event Planner</p>
    </div>
  </a>

  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="evento">Planner</a></li>
      <li class="active"><a href="sobre">Sobre</a></li>
    </ul>
  </div>
</header>

<main>
  <div class="container">
    <section class="about">
      <div class="about-project">
        <h2>Por que esse projeto existe?</h2>
        <p>O Event Planner é um web-app que permite ao usuário registrar o planejamento de um evento e gerar um arquivo PDF com as informações.</p>
      </div>

      <div class="about-me">

        <div class="picture">
          <img src="img/dev.jpg" alt="carlos.voliveira">
        </div>

        <div class="about-me-text">
          <h3>Carlos Eduardo Vaz de Oliveira</h3>
          <div class="social">
            <a href="https://gitlab.com/carlos.voliveira"><i class="fab fa-gitlab"></i></a>
            <a href="https://www.linkedin.com/in/kduvaz/"><i class="fab fa-linkedin"></i></a>
          </div>          
        </div>

      </div>
    </section>
  </div>
</main>

<footer>
  <p>Projeto desenvolvido por <span>carlos.voliveira</span> para o Bootcamp FullStalck MERN Infnet 2021 | Todos os
    direitos reservados.</p>
</footer>
</body>

</html>