<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Gestão de eventos | Sobre</title>
</head>

<body>
  <header>
    <div class="logo">
      <span class="material-icons">
        lens_blur
      </span>
      <p> Gestão de Eventos</p>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="evento">Formulário</a></li>
        <li><a href="sobre">Sobre</a></li>
      </ul>
    </div>
  </header>

  <main>
    <div class="container">
      <section class="about">
        <img src="/img/placeholder.png" alt="placeholder">
        <div class="text">texto</div>
      </section>
    </div>
  </main>

  <footer>
    <p>Projeto Bootcamp Infnet 2021 | Todos os direitos reservados.</p>
  </footer>
</body>

</html>