<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Gestão de eventos | Home</title>
</head>

<body>
    <header>
        <div class="logo">logo</div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="formulario">Formulário</a></li>
                <li><a href="sobre">Sobre</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="container">
            <p>Main Home</p>
        </div> 
    </main>

    <footer>footer</footer>
</body>

</html>