/* RESET */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/* BODY */
html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color:#1f2833;
    display: flex;    
    flex-direction: column;    
    font-family: 'Roboto Slab', serif;
}

/* HEADER */
header{
    display: flex;
    align-content: space-around;
    align-items: center;
}
header .logo {   
    min-height: 50px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2833;  
    padding: 10px;
    font-size: 20px;
}

header .logo .material-icons {
     font-size: 50px;
     color: #66fcf1;
     margin-right: 5px;
}

header .logo p {
    margin-left: 5px;
    color: #66fcf1;
}

header .menu {
    width: 100%;
    height: 100%;

}

header .menu ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    color: lavender;
}

header .menu ul li {
    margin-right: 40px;
    padding: 10px;
}

header .menu ul li a{     
    color: #66fcf1;
    padding: 10px;
    text-decoration: none;
}

header .menu ul li a:hover {
    background-color: #66fcf1;
    border-top: #05386b 1px solid;
    color: #05386b;
}

/* MAIN */
main {
    background-color: #c5c6c7;  
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

main .container {
    background-color: #d0d0d0;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

main .container .chamada {
    margin-left: 10vh;
    padding: 25px;
    width: 100%;
}

main .container .chamada p {
    font-size: 50px;
    color: #1f2833;
    margin-bottom: 30px;
}

main .container .chamada a {
    background-color:#45a29e;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    color: #c5c6c7;
    text-decoration: none;
}

main .container .chamada a:hover {
    background-color:#1f2833;
    color: #66fcf1;
}

main .container .image {
    width: 100%;
    display: flex;
    justify-content: center;
}

main .container .image img {
    width: 70%;
}

main .container .formulario {
    background-color: #c5c6c7;
    margin-left: 100px;
    padding: 20px;
    border: #66fcf1 1px solid;
    justify-content: flex-start;
    width: 450px;
}

main .container .formulario .formGroup {
    padding: 20px;
    
}

main .container .formulario .formGroup  .inputData {
    background-color: #1f2833;
    height: 30px;
    width: 100%; 
}

main .container .formulario .formGroup  .inputData input {
    border: none;
    border-bottom: 2px solid silver;
}

main .container .about {
    display: flex;
}

main .container .about img {
    width: 50%;
}

main .container .about .text {
    margin-top: 20px;
}

/* FOOTER */
footer {
    background-color: #1f2833;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 50px;
    /* text-align: center; */
}

footer p {
    color: #45a29e;
}