/* RESET */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/* BODY */
html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color:#1f2833;
    display: flex;    
    flex-direction: column;    
    font-family: 'Roboto Slab', serif;
}

/* HEADER */
header{
    display: flex;
    align-content: space-around;
    align-items: center;
}
header .logo {   
    min-height: 50px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2833;  
    padding: 10px;
    font-size: 20px;
}

header .logo .material-icons {
     font-size: 50px;
     color: #66fcf1;
     margin-right: 5px;
}

header .logo p {
    margin-left: 5px;
    color: #66fcf1;
}

header .menu {
    width: 100%;
    height: 100%;

}

header .menu ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    color: lavender;
}

header .menu ul li {
    margin-right: 40px;
    padding: 10px;
}

header .menu ul li a{     
    color: #66fcf1;
    padding: 10px;
    text-decoration: none;
}

header .menu ul li a:hover {
    background-color: #66fcf1;
    border-top: #05386b 1px solid;
    color: #05386b;
}

/* MAIN */
main {
    background-color: #c5c6c7;  
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

main .container {
    background-color: #d0d0d0;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

main .container .chamada {
    margin-left: 10vh;
    padding: 25px;
    width: 100%;
}

main .container .chamada p {
    font-size: 50px;
    color: #1f2833;
    margin-bottom: 30px;
}

main .container .chamada a {
    background-color:#45a29e;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    color: #c5c6c7;
    text-decoration: none;
}

main .container .chamada a:hover {
    background-color:#1f2833;
    color: #66fcf1;
}

main .container .image {
    width: 100%;
    display: flex;
    justify-content: center;
}

main .container .image img {
    width: 70%;
}

main .container .formulario {
    width: 500px;
    height: 80%;
    background-color: #c5c6c7;
    padding: 20px;
    border: #45a29e 1px solid;
    border-radius: 5px;
    margin: auto;
}

main .container .formulario .slice .title {
    padding: 10px;
    font-size: 20px;
    color: #45a29e;
    text-align: center;
}

main .container .formulario .formGroup {
    padding: 15px;

}

main .container .formulario .formGroup .formBox {
    width: 100%;
    position: relative;
    overflow: hidden;
}

main .container .formulario .formGroup .formBox input {
    background-color: #c5c6c7;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #45a29e;
    padding-top: 20px;
    padding-bottom: 2px;
    border: none;
    outline: none;
}

main .container .formulario .formGroup .formBox label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

main .container .formulario .formGroup .formBox label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%; 
    border-bottom: 3px solid #45a29e;
    transform: translateX(-100%);
    transition: transform  0.3s ease;
}

main .container .formulario .formGroup .formBox label .content-box {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

main .container .formulario .formGroup .formBox input:focus + .label-box .content-box,
main .container .formulario .formGroup .formBox input:valid + .label-box .content-box {
    background-color: #c5c6c7;
    transform: translateY(-130%);
    font-size: 13px;
    color: #45a29e;
}

main .container .formulario .formGroup .formBox input:focus + .label-box::after, 
main .container .formulario .formGroup .formBox input:valid + .label-box::after {
    transform: translateX(0%);
}

main .container .formulario button {
    background-color:#45a29e;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    color: #c5c6c7;
    text-decoration: none;
    border: none;
    border-radius: 0;
    margin: 10px 15px;
}

main .container .formulario button:hover {
    background-color:#1f2833;
    color: #66fcf1;
}

main .container .about {
    display: flex;
}

main .container .about img {
    width: 50%;
}

main .container .about .text {
    margin-top: 20px;
}

/* FOOTER */
footer {
    background-color: #1f2833;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 50px;
    /* text-align: center; */
}

footer p {
    color: #45a29e;
}