/* RESET */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/* BODY */
html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color:#d0d0d0;
    display: flex;    
    flex-direction: column;    
    font-family: 'Roboto Slab', serif;
}

/* HEADER */
header{
    display: flex;
    background-color: #1f2833;
    align-content: space-around;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

/* LOGO */

header a {
    text-decoration: none;
}
.logo {   
    min-height: 50px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2833;  
    padding: 10px;
    font-size: 20px;
}

.logo .material-icons {
     font-size: 50px;
     color: #66fcf1;
     margin-right: 5px;
}

.logo p {
    margin-left: 5px;
    color: #66fcf1;
}

/* MENU */

.menu {
    width: 100%;
    height: 100%;
}

.menu ul {
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    color: lavender;
}

.menu ul li {
    margin-right: 40px;
    padding: 10px;
}

.active a {
    border: #66fcf1 2px solid;
    border-radius: 5px;
}

.menu ul li a{     
    color: #66fcf1;
    padding: 10px;
    text-decoration: none;
    transition: 0.1s;
}

.menu ul li a:hover {
    background-color: #66fcf1;
    border-radius: 5px;
    color: #05386b;
}

/* MAIN */
main { 
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

/* CONTAINER GERAL */
main .container {
    background-color: #d0d0d0;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* HOME */
.chamada {
    margin-left: 10vh;
    padding: 25px;
    width: 100%;
}

.chamada p {
    font-size: 50px;
    color: #1f2833;
    margin-bottom: 30px;
}

.chamada a {
    background-color:#45a29e;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    color: #c5c6c7;
    text-decoration: none;
    border-radius: 5px;
}

.chamada a:hover {
    background-color:#1f2833;
    color: #66fcf1;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 70%;
}

/* FORMULARIO event */

.formulario {
    width: 500px;    
    margin: auto;
}
.formulario .slice {
    background-color: #c5c6c7;
    padding: 20px;
    border: #45a29e 1px solid;
    border-radius: 5px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.formulario .slice .title {
    padding: 10px;
    font-size: 20px;
    color: #45a29e;
    text-align: center;
}

.formulario .formGroup {
    padding: 15px;

}

.formulario .formGroup .formBox {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.formulario .formGroup .formBox input {
    background-color: #c5c6c7;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #45a29e;
    padding-top: 20px;
    padding-bottom: 2px;
    border: none;
    outline: none;
}

.formulario .formGroup .formBox label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.formulario .formGroup .formBox label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%; 
    border-bottom: 3px solid #45a29e;
    transform: translateX(-100%);
    transition: transform  0.3s ease;
}

.formulario .formGroup .formBox label .content-box {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.formulario .formGroup .formBox input:focus + .label-box .content-box,
.formulario .formGroup .formBox input:valid + .label-box .content-box {
    background-color: #c5c6c7;
    transform: translateY(-130%);
    font-size: 13px;
    color: #45a29e;
}

.formulario .formGroup .formBox input:focus + .label-box::after, 
.formulario .formGroup .formBox input:valid + .label-box::after {
    transform: translateX(0%);
}

.formulario .btn {
    display: flex;
    justify-content: center;
}

.formulario button {
    background-color:#45a29e;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    color: #c5c6c7;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

.formulario button:hover {
    background-color:#1f2833;
    color: #66fcf1;
}

.formulario .formGroup select, dataEntrada {
    padding: 4px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.formulario .formGroup .radioBtn {
    display: flex;
    align-content: center;
    justify-content: center;
}

.period {
    display: flex;
    justify-content: space-around;
}

.period .formGroup {
    flex: 1;
}

/* ABOUT sobre */

.about {
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
}

.about .text {
    padding: 20px;
}

/* FOOTER */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #1f2833;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 50px;
    /* text-align: center; */
}

footer p {
    color: #45a29e;
    font-size: small;
}

footer p span {
    font-weight: bold;
}