<div class="slice">

  <div class="title">Horários</div>

  <div class="formGroup">
    <label for="dataEvento">Data do Evento:</label>
    <input type="date" name="dataEvento" required>

  </div>



  <div class="period">
    <div class="formGroup">
      <label for="inicio">Início do Evento:</label>
      <select name="inicio" id="">
        <option value="">Selecione ...</option>
        <% horaInicio.map(item=> { %>
          <option value="<%= item.value %>">
            <%= item.label %>
          </option>
          <% }) %>
      </select>
    </div>
    <div class="formGroup">
      <label for="horaFim">Término do Evento:</label>
      <select name="horaFim" id="">
        <option value="">Selecione ...</option>
        <option value="">00:00</option>
        <option value="">01:00</option>
        <option value="">02:00</option>
        <option value="">03:00</option>
        <option value="">04:00</option>
        <option value="">05:00</option>
        <option value="">06:00</option>
      </select>
    </div>
  </div>

  



</div>