<div class="slice">
  <div class="title">Dados do Responsável</div>

  <div class="formGroup">
    <div class="formBox">
      <input type="text" name="name" autocomplete="off" required>
      <label for="name" class="label-box">
        <span class="content-box">Nome</span>
      </label>
    </div>
  </div>

  <div class="formGroup">
    <div class="formBox">
      <input type="email" name="email" autocomplete="off" required>
      <label for="email" class="label-box">
        <span class="content-box">Email</span>
      </label>
    </div>
  </div>

  <div class="formGroup">
    <div class="formBox">
      <input type="text" name="cpf" autocomplete="off" required>
      <label for="cpf" class="label-box">
        <span class="content-box">CPF</span>
      </label>
    </div>
  </div>

  <div class="formGroup">
    <div class="formBox">
      <input type="number" name="telefone" autocomplete="off" required>
      <label for="telefone" class="label-box">
        <span class="content-box">Telefone</span>
      </label>
    </div>
  </div>                       
</div>